.body-account{
    background-color: var(--green);
}

.brand-wrapper{
    margin-bottom: 3rem;
}

.brand-wrapper .logo{
    height: 60px;
}

.login-card{
     border: 0;
     border-radius: 27.5px;
     box-shadow: 0 10px 30px 0 var(--green);
     overflow: hidden
}

.login-card-img{
    border-radius: 0;
    position: relative;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}


.login-card .card-body{
    padding: 85px 60px 60px;
}
.login-card-description{
    font-size: 25px;
    color: #111;
    font-weight: normal;
    margin-bottom: 23px;
}
.login-card form{
    max-width: 320px;
}
@media (max-width: 442){
    .login-card .card-body{
        padding: 35px 24px;
    }

}