/* Responsive website media queries */
@media (max-width: 1399.98px) { 

}

@media (max-width: 1199.98px) {

 }


@media (max-width: 991.98px) { 
    
}

@media (max-width: 767.98px) {

    /* counter and testimoney section */
    .progress-comment .progress-report {
        margin-bottom: 2rem !important;
    }
    /* app android section */
    .app .app-text {
        width: 100% !important;
    }
    /* faqs */
    #faqs .question h3{
        font-size: 1.1rem!important;
        font-weight: 500!important;
    }
 }


@media (max-width: 575.98px) {
    /* home */
    
    #home p{
        width: 80% !important;
        
    }
    #home a{
        padding: 5px 10px!important;
        
    
    }

     /*footer content  */
   .footer{
    text-align: center;
   }
   .footer .footer-content .newsletter .social-links ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
    .footer .footer-content .newsletter .social-links ul li a{
        margin: 0rem .5rem;
    }
    .footer .footer-content .small-line{
        margin: auto;
    }

 }

