@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* imported css  */
@import "/css/media-qeries.css";
@import '/css/courses.css';
@import '/css/about.css';
@import '/css/tutor.css';
@import '/css/contact.css';
@import '/css/acc.css';

:root{
    /* colors */
    --blue:  #274c92;
    --green: #4da246;
    --dark: #111;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



/* Global Tags */
h1{
    font-size: 3.3rem;
    font-weight: 700;
}


span{
    font-size: .9rem;
}

h6{
    font-size: 1.1rem;
}
.heading{
    margin-bottom: 3.5rem;
    text-align: center;
}

.heading h2{
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--dark);
}
.heading p{
    text-transform: uppercase;
    font-weight: 500;
    color: var(--green);
}

/* preloader */

#preloader {
    overflow: hidden;
    background: var(--green);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999999;
    color: #fff;
  }
  
  #preloader .jumper {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    margin: auto;
    width: 50px;
    height: 50px;
  }
  
  #preloader .jumper > div {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    opacity: 0;
    width: 50px;
    height: 50px;
    -webkit-animation: jumper 1s 0s linear infinite;
    animation: jumper 1s 0s linear infinite;
  }
  
  #preloader .jumper > div:nth-child(2) {
    -webkit-animation-delay: 0.33333s;
    animation-delay: 0.33333s;
  }
  
  #preloader .jumper > div:nth-child(3) {
    -webkit-animation-delay: 0.66666s;
    animation-delay: 0.66666s;
  }
  
  @-webkit-keyframes jumper {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    5% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
    }
  }
  
  @keyframes jumper {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    5% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
/*booostrap nav */

.b-nav .navbar{
    box-shadow: 1px 1px 5px #888888;
    background: #fff;
}

.b-nav .navbar .nav-item .nav-link{
    color: var(--blue);
    transition: .3s ease-in;
}
.b-nav .navbar .nav-item .nav-link.active{
    color: var(--green)!important;
}

.b-nav .navbar .nav-item .nav-link:hover{
    color: var(--green);
}
.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

.nav-btn .enquiries-btn{
    padding: .3rem 1rem;
    background-color: var(--green);
    border-radius: 50px;
    margin-left: 1rem;
    color: #fff;
    border: 1px solid var(--green);
    outline: none;
    transition: .3s ease-in;
}
.nav-btn .enquiries-btn:hover{
    background-color: transparent;
    color: var(--green);
}

/* home */

#home{
    background-image: linear-gradient(rgba(9, 5, 54 ,0.3), rgba(5, 4, 46, 0.7)), url("/img/bg/girl0study.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#home h1{
    color: #fff;
    font-size: 2.6rem;
    letter-spacing: 1px; 
}


#home p{
    color: #fff;
    width: 50%;
    font-size: .9rem;
    letter-spacing: 1px; 
    line-height: 25px;
}

#home .btn{
    margin-top: 30px;
}
#home a{
    text-decoration: none;
    font-size: .9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;

}

#home a.blue{
    color: #fff;
    background-color:#274c92;
}
#home a.blue:hover{
    color: #274c92;
    background-color:#fff;
    transition: 0.3s ease;
}

#home a.green{
    color: #fff;
    background-color: #4da246;
}
#home a.green:hover{
    color: #274c92;
    background-color:#fff;
    transition: 0.3s ease;
}
/* how it works sectim */

.howitwork{
    padding: 7rem 0;
}
.howitwork .howbox{
    padding:2rem 1.5rem;
    border: 1px solid #111;
    text-align: center;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: ease-in .3s;
}
.howitwork .howbox:hover{
    background-color: var(--dark);
}

.howitwork .howbox:hover .how-icon i,
.howitwork .howbox:hover h4,
.howitwork .howbox:hover p
{
    transition: ease .3s;
   color: #fff;
}
.howitwork .howbox .how-icon{
    margin-bottom: .7rem;
}
.howitwork .howbox .how-icon i{
    font-size: 3rem;
    color: var(--green);
}
.howitwork .howbox h4{
    font-weight: 600;
}

.howitwork .howbox p{
    font-weight: 400;
    color: rgb(121, 121, 121);
}

/* course selection section */
#course-selector{
    padding: 3rem 0;
    background-color: var(--blue);
}
.course-selector .cs-wrap{
    width: 70%;
    margin: auto;
}

.course-selector .cs-wrap form select,
.course-selector .cs-wrap form select{
    padding: .4rem 1rem!important;
    border: none;
}
.course-selector .cs-wrap form input.active{

}

.course-selector .cs-wrap form select:focus,
.course-selector .cs-wrap form input:focus{
    border: none;
    outline: none;
    box-shadow: none;
}
.course-selector .cs-wrap form button{
    padding: .4rem 1rem;
    outline: none;
    border: none;
    background-color: var(--green);
    border-radius: 5px;
    color: white;
    width: 100%;
}
/* course section */
#courses{
    padding: 7rem 0;
    background-color: rgba(121, 121, 121, 0.048);
}

.courses .course-more{
    margin-top: 2rem;
    text-align: center;
}

.courses .course-more a{
    text-decoration: none;
    padding: .5rem 1rem;
    background-color: var(--green);
    color: white;
    border: 1px solid var(--green);
    font-weight: 500;
    transition: ease-in .3s;
}
.courses .course-more a:hover{
    color: var(--green);
    background-color: #fff;
}
.courses .course-box{
    margin-bottom: 1.5rem;
    box-shadow: 1px 1px 10px rgba(17, 17, 17, 0.068);
}

.courses .course-box .course-img img{
    width: 100%;
}

.courses .course-box .course-text{
    padding: 1rem;
    background-color: #fff;
}
.courses .course-box .course-text small{
    color: rgb(121, 121, 121);
}
.courses .course-box .course-text .course-name h5{
    color: var(--green);
}

.courses .course-box .course-text .stars-money{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.courses .course-box .course-text .stars-money .stars i{
    color: goldenrod;
}

.courses .course-box .course-text .stars-money .money p{
    font-weight: 600;
    color: #111;
}


.courses .course-box .course-text .course-link a{
   text-decoration: none;
   color: var(--green);
   font-weight: 600;
   font-size: 1.1rem;
   border-bottom: var(--green) solid 2px;
   transition: ease-in .3s;
}
.courses .course-box .course-text .course-link a:hover{
    letter-spacing: 1px;
    color: var(--blue);
    border-bottom: var(--blue) solid 2px;
}
/* tutor section */

#tutor{
    height: 65vh;
    background-image: linear-gradient(rgb(39, 76, 146, 0.31),rgba(0, 0, 0, 0.91)), url('/img/bg/study.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#tutor .tutor-text h2{
    font-weight: 800;
    color: #fff;
    margin-bottom: 1.5rem;
}
#tutor .tutor-text h2 span{
    font-size: inherit;
    color: var(--blue);
}
#tutor .tutor-text p{
   width: 80%;
   margin: auto;
   color: #fff;
}

#tutor .tutor-text .tutor-link{
    margin-top: 1.3rem;
}

#tutor .tutor-text .tutor-link a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    transition: ease-in .3s;
    background-color: var(--green);
    border: 1px solid var(--green);
    padding: .5rem 1rem;
}


#tutor .tutor-text .tutor-link a:hover{
    background-color: transparent;
    color: var(--green);
}


/* progress  and comment sectiom */

#progress-comment.progress-comment{
    padding: 7rem 0;
}

.progress-comment .progress-report{
    background-color: var(--blue);
    padding: 1.5rem;
    text-align: center;
    color: #fff;
    height: 100%;
    margin: .5rem;
}

.progress-comment .progress-report h3{
    font-weight: 600;
    margin: 2.5rem 0;
}
.progress-comment .progress-report p{
    margin-bottom: 2rem;
}

.progress-comment .progress-report .progress-flex i{
    font-size: 2.5rem;
}



.progress-comment .comment{
    background-color: var(--blue);
    padding: 1.5rem;
    margin: .5rem;
    background-color: rgba(121, 121, 121, 0.048);
    height: 100%;
    text-align: center;
}


.progress-comment .comment h3{
    font-weight: 600;
    margin: 2.5rem 0;
    color: var(--dark);
    text-align: center;
}

.progress-comment .comment .comment-text div i{
    font-size: 2.8rem;
    color: var(--blue);
    margin-bottom: 1rem;
}

.progress-comment .comment .comment-text p{
    font-weight: 300;
    font-size: 1rem;
}


.progress-comment .comment .comment-text .comment-author{
    padding: 2rem 0;
}

.progress-comment .comment .comment-text .comment-author h4{
    font-weight: 600;
}

/* other service */
#service.service{
    padding: 7rem 0;
    background-color: rgba(121, 121, 121, 0.048);
}

.service .logo-box{
    padding: 1.5rem;
    background: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.service .logo-box img{
    width: 100px;
    filter: contrast(100%);
    transition: ease-in .3s;
}

.service .logo-box:hover img{
    filter: contrast(10%);
}

/* app section */

#app.app{
    padding: 7rem 0;
}

.app .app-box{
    padding: 2rem;
}
.app .app-box img{
    width: auto;
}

.app .app-text{
    padding: 2rem;
    width: 75%;
    background:rgba(121, 121, 121, 0.048);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}
.app .app-text h3
{
    font-weight: 600;
    margin: 2rem 0;
}
.app .app-text span{
    font-size: inherit;
    color: var(--green);
}

.app .app-text p{
    font-weight: 300;
}



.app .app-text .img-link img{
    height: 50px;
    margin: .8rem 0;
}

/* faqs section */

#faqs.faqs{
    padding: 7rem 0;
    background-color: rgba(121, 121, 121, 0.048);
}

.acc-box{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#faqs .faq{
        max-width: 700px;
        margin-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid #111;
        cursor: pointer;
}

#faqs .question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#faqs .question h3{
    font-size: 1.4rem;
    color: #111;
    font-weight: 600;
}
#faqs .answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}
#faqs .answer p{
    padding-top: 1rem;
    line-height: 1.2;
    font-size: 1rem;
    color: var(--secondary);
}

#faqs .faq.active .answer{
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

#faqs .faq.active svg{
    transform: rotate(180deg);
}

#faqs svg{
    transition: transform 0.5s ease-in ;
}

@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

/* footer section */
#footer.footer{
    padding: 7rem 0;
    background-color: var(--dark);
}

.footer .footer-content .company-details h4,
.footer .footer-content .link h4,
.footer .footer-content .newsletter h4{
    color: #fff;
    font-weight: 600;
    margin-bottom: .6rem;
}

.footer .footer-content .company-details .small-line,
.footer .footer-content .link .small-line,
.footer .footer-content .newsletter .small-line{
    width: 3rem;
    height: 2px;
    background-color: var(--green);
    margin-bottom: 1.5rem;
}



.footer .footer-content .newsletter form{
    border: 1px solid #111;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: .2rem;
    background-color: rgba(121, 121, 121, 0.664);
}

.footer .footer-content .newsletter form input{
    border: none;
    outline: none;
    padding: .3rem .6rem;
    width: 100%;
    height: 2.3rem;
}

.footer .footer-content .newsletter form button{
    height: 2.3rem;
    border: none;
    outline: none;
    text-align: center;
    background: var(--green);
    padding: .3rem 1rem;
    color: white;
    transition: .3s ease-in;
}

.footer .footer-content .newsletter form button:hover{
    background: var(--blue);
}

.footer .footer-content .newsletter .social-links{
    margin-top: 1.3rem;
}
.footer .footer-content .newsletter .social-links ul{
    padding: 0;
    display: flex;
    flex-direction: row;
}

.footer .footer-content .newsletter .social-links ul li{
    list-style: none;
}

.footer .footer-content .newsletter .social-links ul li a{
    text-decoration: none;
    color: var(--green);
    padding: .4rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    transition: .3s ease-in;
}

.footer .footer-content .newsletter .social-links ul li a:hover{
    color: #fff;
}

.footer .footer-bottom{
    margin: 2rem 0 0 0;
}
.footer .footer-bottom p{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
}